footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  padding: 1rem;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  background-color: rgba(55, 55, 156, 0.5);
}
